@font-face {
    font-family: 'Conv_EarthsMightiestExpandItal-nqLO';
    src: url('fonts/EarthsMightiestExpandItal-nqLO.eot');
    src: local('☺'), url('fonts/EarthsMightiestExpandItal-nqLO.woff') format('woff'), url('fonts/EarthsMightiestExpandItal-nqLO.ttf') format('truetype'), url('fonts/EarthsMightiestExpandItal-nqLO.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}